
<app-header></app-header>
<div>
  <div class="theme-layout">
    <section>
      <div class="gap2 gray-bg">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row merged20" id="page-contents">

                <app-header-background></app-header-background>

                <div class="central-meta postbox">
                  <div class="container">
                    <h1>Send Message</h1>
                    <div class="new-postbox">
                    <figure>
                      <img src="assets/images/resources/admin.jpg" alt="">
                    </figure> &nbsp;
                      <div class="newpst-input">
                    <form [formGroup]="messageForm">
                      <textarea placeholder="Message content" style="border: 1px solid #8c8ccb; outline: none !important; height: 200px; box-shadow: 0 0 10px #719ECE;
}
" formControlName="message_body">
      </textarea>

                      <button
                        type="submit"
                        class="btn btn-success"
                        [disabled]="!messageForm.valid"
                        (click)="saveMessage()"
                      >
                        Send message to {{this.userPath}}
                      </button>


<!--                      <button (click)="back()" type="submit" class="btn  btn-success ml-2">Back</button>-->

                    </form>
                  </div>
                </div><!-- add post new box -->
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </section><!-- content -->
    <div class="bottombar">
      <div class="container">
        <div class="row">
          <br>
          <br>
          <div class="col-md-12">
            <span class="copyright">© Nova 2021. All rights reserved.</span>
            <!--            <i><img src="assets/images/credit-cards.png" alt=""></i>-->
          </div>
        </div>
      </div>
    </div><!-- bottom bar -->
  </div>
</div>



