<h2>List Friend Suggest</h2>

<input type="text" class="form-control mr-3" style="width: 400px; border-radius: 5px" placeholder="tim kiem theo ten" [(ngModel)]="keyword" name="keyword">
<button class="btn btn-outline-success" style="border-radius: 10px" (click)="search()">Search</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>User Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let username of friendListSuggest">
      <td> {{username.userName}}</td>

      <td>
<!--        <a [routerLink]="http://localhost:8080/invite/8">Invite</a>-->
        <a (click)="sentRequestFriend(this.auth.currentUserValue.userName , username.id)" >Invite</a>
      </td>
    </tr>
  </tbody>


</table>

<button (click)="back()" type="submit" class="btn btn-lg btn-primary ml-2">Back</button>
