<h2>List Friend</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>List friends</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of listFriend">
      <td (click)="watchWallFriend(friend.userName)"> {{ friend.userName }} </td>
      <td (click)="sendMessage(friend.userName)">
         Send message
        <!--      <button (click) = "" class="btn btn-danger" style="margin-left: 10px;">Delete</button>-->
      </td>
    </tr>
    </tbody>
  </table>

<button (click)="back()" type="submit" class="btn btn-lg btn-primary ml-2">Back</button>




