<app-header></app-header>
<div class="col-md6 offset-md3">
  <h3>Create Post</h3>
  <form (ngSubmit)="onSubmit()"></form>
    <div class="form-group">
      <label>Content</label>
      <input type="text" class="form-control" id="firstName"
      [(ngModel)]="post.content" name="firstName">
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control" id="lastName"
      [(ngModel)]="post.image" name="image">
    </div>


    <button class="btn btn-success" type="submit">Submit</button>
</div>
